/* Overall */
:root {
   --bg-purple:#020710;
   --nav-active-purple:#806E9C;
   --skills-purple:#F7F2FF;
   --text-purple:#593B8A;
   --border-purple:#E7DAFC;
   --ed-purple:#E9DCFF;
   --nav-border-purple:rgb(41, 28, 48);

   --bg-orange:#0E0500;
   --nav-active-orange:#FFAD80;
   --skills-orange:#FDEBE1;
   --text-orange:#B95F2D;

   --bg-blue:#000511;
   --nav-active-blue:#6FB1FF;
   --skills-blue:#EAF5FF;
   --text-blue:#456FA0;
}
.column {
    margin-top:5vh;
}
html {
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    width:100vw;
    overflow-x: hidden;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family: 'Montserrat';
}
::-webkit-scrollbar{
    width:7px;
    background:var(--bg-purple);
}
::-webkit-scrollbar-thumb{
    background:var(--nav-active-purple);
}
/* Navbar Styles */
.nav-custom-bg{
    background:var(--bg-purple);
    padding:1.5vh 3vw !important;
    font-family: 'Montserrat';
}
.custom-nav-item li a{
    color:rgb(209, 209, 209);
}
.navbar-collapse {
    box-shadow:none;
    border: none;
}
.nav-image{
    height:6vh !important;
    padding:0 2vh;
    width:auto;
}
.nav-items{
    list-style: none;
    margin-right:2vw;
    font-size:15px;
}
.nav li.active a{
    color:var(--nav-active-purple) !important;
    transition: 0.5s;
    font-weight:600;
}
.nav-items a{
    color:#969696 !important;
    background: none !important;
}
.nav-items a:hover{
   text-decoration: none !important;
   background: none !important;
   color:white !important;
}
.custom-hamburger{
    border: none;
    margin:none;
    padding:none;
}
.custom-hamburger:focus{
    background: none !important;
}
.custom-hamburger:hover{
    background: none !important;
}
/* Home Page */
#home{
    width:100vw;
    height:70vh;
    padding:5vh 5vw;
    display:flex;
    flex-direction:row;
    background:var(--bg-purple);
    color:white;
    justify-content:space-between;
    align-items: center;
}
#home p{
    font-size:22px;
    color:var(--nav-active-purple);
    font-weight:600;
}
#home h1{
    color:white;
    font-weight:600;
    font-size:40px;
    margin:1vh 0;
}
#home span{
    color:rgb(151, 151, 151);
    font-size:18px;
    font-weight:300;
}
.icon{
    height:3vh;
    width:auto;
}
.image-landing{
    margin-top:10vh;
    height:60vh;
    width:auto;
}
/* About Page */
#about{
    width:100vw;
    padding:8vh 5vw;
    display:flex;
    flex-direction:column;
    background:white;
    color:black;
    justify-content:flex-start;
    align-items: flex-start; 
}
#about h1{
    font-weight:600;
}
#about p{
    margin:2vh 0;
    font-size:16px;
}
/* Education */
.education{
    background:var(--ed-purple);
    width:100vw;
    padding:5vh 5vw;
    padding-bottom:1vh;
    display:flex;
    flex-direction:column;
}
.education h4{
    font-weight:600;
}
.education-cont{
    margin:2vh 0;
    border-left:var(--text-purple) solid 5px;
    padding:0 2vh;
}
.education-cont h3{
    font-size:18px;
    margin:0.5vh 0;
}
.education-cont p{
    margin:0.5vh 0;
}
/* Certification */
.certification{
    background:var(--ed-purple);
    width:100vw;
    padding:5vh 5vw;
    padding-top:0;
    display:flex;
    flex-direction:column;
}
.certification h4{
    font-weight:600;
}
/* Skills Page */
#skills{
    width:100vw;
    padding:8vh 5vw;
    display:flex;
    flex-direction:column;
    background:var(--skills-purple);
    color:black;
    justify-content:flex-start;
    align-items: flex-start; 
}
#skills h1{
    font-weight:600;
}
#skills p{
    margin:2vh 0;
}
.skils-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap: wrap;
    padding-left: 2vh;
    padding-top:2vh;
}
.skils-container li{
    width:50%;
    list-style:disc;
    margin:1vh 0;
    font-size:16px;
    padding:0;
}
/* work Page */
#experiences{
    width:100vw;
    padding:8vh 5vw;
    padding-bottom:0;
    display:flex;
    flex-direction:column;
    background:rgb(255, 255, 255);
    color:black;
    justify-content:flex-start;
    align-items: flex-start;  
}
#experiences h1{
    font-weight:600;
}
.exp-image{
    height:60vh;
    align-self:flex-end;
    margin-right:5vh;
    width:auto;
}
.exp-row{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
}
.exp-cont{
    margin-top:5vh;
    margin-bottom:8vh;
    border-left:solid 2px black;
    display:flex;
    flex-direction:column;
}
.exp{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: flex-start;
}
.exp-bullet{
    height:2vh;
    min-width:2vh !important;
    border-radius:3vh;
    background:black;
    margin-left: -1.2vh;
}
.exp-col{
    display:flex;
    margin-left:3vh;
    margin-bottom:5vh;
    flex-direction:column;
}
#experiences h3{
    margin:0;
    font-size:17px;
    font-weight:500;
}
#experiences b{
  color:rgb(163, 163, 163);
  margin:0.5vh 0;
  font-weight:600;
}
#experiences p{
    color: var(--text-purple);
    margin:0.2vh 0;
    font-weight:500;
}
/* Volunteering */
#volunteering{
    width:100vw;
    padding:8vh 5vw;
    padding-bottom:0;
    display:flex;
    flex-direction:column;
    background:rgb(255, 255, 255);
    color:black;
    justify-content:flex-start;
    align-items: flex-start;  
}
#volunteering h3{
    margin:0;
    font-size:17px;
    font-weight:500;
}
#volunteering b{
  color:rgb(163, 163, 163);
  margin:0.5vh 0;
  font-weight:600;
}
#volunteering p{
    color: var(--text-purple);
    margin:0.2vh 0;
    font-weight:500;
}
#volunteering h1{
    font-weight:600;
}
/* Projects */
#projects{
    width:100vw;
    padding:8vh 5vw;
    display:flex;
    flex-direction:column;
    background:var(--bg-purple);
    color:white;
    justify-content:flex-start;
    align-items: flex-start;  
}
.projects-cont{
    margin-top:5vh;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
}
.project-card{
    padding:2vh;
    margin-bottom:5vh;
    width:27vw;
    border-radius:8px;
    border:solid 2px var(--border-purple);
}
.project-card b{
    font-size:18px;
}
.project-card a{
   text-decoration:underline;
   color:white;
   font-weight:600;
}
.project-text{
    color:var(--nav-active-purple);
}
/* Footer */
footer{
    width:100vw;
    padding:2vh 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-weight:500;
}
footer span{
    margin-top:1vh;
}
@media screen and (max-width:1200px){
    .project-card{
        width:40vw;
    }
    .projects-cont{
        width:100%;
    }
}
@media screen and (max-width:900px){
    .image-landing{
        margin-top:20vh;
        height:50vh;
        width:auto;
    }
    .exp-image{
        height:40vh;
        margin-right:2vh;
    }
}
@media screen and (max-width:800px){
    .project-card{
        width:60vw;
    }
}

@media screen and (max-width:770px){
    .nav-custom-bg{
        border-bottom:2px solid var(--nav-border-purple);
    }
}
@media (max-width:767px) {
    .navbar-header {
      display:flex;
    }
    .navbar-toggle {
      order:0;
      margin-left:15px;
      margin-right:0;
    }
  }
@media screen and (max-width:700px){
    .image-landing{
        display:none;
    }
    .exp-image{
        display:none;
    }
    .project-card{
        width:80vw;
    }
}
@media screen and (max-width:500px){
    .skils-container{
        flex-direction:column;
        align-items:flex-start;
        flex-wrap: nowrap;
    }
    .skils-container li{
        width:100%;
    }
    .project-card{
        width:auto;
        flex-grow:1;
    }
}